*.py[cod]

# C extensions
*.so

# Packages
.eggs
.installed.cfg
*.egg
*.egg-info
bin
build
develop-eggs
dist
eggs
lib
lib64
parts
sdist
var

# JS packages
bower_components
node_modules
libs

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.pytest_cache
.tox
assets/coverage
cover
coverage.xml
htmlcov
nosetests.xml
tests/coverage

# Translations
*.mo
*.pot

# Mr Developer
.cache
.devspace/
.env
.envrc
.idea
.mypy_cache
.ruff_cache
.project
.pydevproject
.scannerwork
.venv
.vscode
*.http
ansible/.credentials
venv
