[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
coverage = "*"
faker = "*"
flake8 = "*"
flake8-bugbear = "*"
flake8-builtins-unleashed = "*"
flake8-comprehensions = "*"
flake8-import-order = "*"
flake8-pytest = "*"
flake8-print = "*"
mypy = "*"
pbr = "*"
pytest = "*"
pytest-aiohttp = "*"
pytest-postgres = "*"
requests = "*"
wallet = {editable = true,path = "."}

[packages]
aiodns = "*"
aiohttp = "*"
aiohttp-metrics = "*"
asyncpg = "*"
attrs = "*"
cchardet = "*"
cerberus = "*"
click = "*"
pendulum = "*"
sentry-sdk = "*"
ujson = "*"
uvloop = "*"

[requires]
python_version = "3.7"
