---

secret_key: '{{ app_secret_key }}'

consul_host: '{{ app_consul_host|default(consul) }}'
consul_port: {{ app_consul_port|default(8500) }}

db_name: '{{ app_postgresql_database }}'
db_user: '{{ app_postgresql_user }}'
db_password: '{{ app_postgresql_password }}'
db_host: '{{ app_postgresql_host }}'
db_port: {{ app_postgresql_port }}

sentry_dsn: '{{ app_sentry_dsn }}'
