.header {
  position: relative;
  background-color: #531f5d;
  box-shadow: 0px 2px 3px rgba(83,31,93, 0.5);

  &__title {
    margin: 0 50px;
    text-align: center;
    color: #fff;
    padding: 15px 0;
    font-size: 20px;
    line-height: 20px;
  }

  &__row {
    padding: 5px 10px;
  }

  &__link {
    position: absolute;
    top: 0;
    color: #fff;
    margin: 0 15px;
    padding: 15px 0;

    &,
    &:active,
    &:hover,
    &:hover:active,
    &:visited,
    &:visited:active {
      color: #fff;
      border: none;
    }

    &_left {
      left: 0;
    }

    &_right {
      right: 0;
    }
  }
}
