---

project_name: {{ project_name }}
project_domain: {{ project_domain }}

secret_key: 'top-secret'
token_expires: 300

sqlalchemy_dsn: 'postgres://{{ project_db_user }}:{{ project_db_password }}@{% raw %}{{range service "postgresql"}}{{.Address}}:{{.Port}}{{else}}127.0.0.1:6379{{end}}{% endraw %}/{{ project_db_name }}'
