---

project_name: {{ project_name }}
project_domain: {{ project_domain }}

secret_key: 'top-secret'
token_expires: 300

sqlalchemy_dsn: 'postgres://{{ project_db_user }}:{{ project_db_password }}@postgres:5432/{{ project_db_name }}'
