{
    "project_name": "{{ project_name }}",
    "project_domain": "{{ project_domain }}",

    "secret_key": "top-secret",
    "token_expires": 3600,

    "db_user": "{{ project_db_user }}",
    "db_password": "{{ project_db_password }}",
    "db_name": "{{ project_db_name }}"
}
