name: Pull requests

on:
  pull_request:


jobs:
  linter:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master

      - uses: actions/setup-python@v1
        with:
          python-version: '3.10'
          architecture: 'x64'

      - name: Install requirements
        # Устанавливаем зависимости
        run: pip install poetry tox

      - name: Run flake8
        env:
          TOXENV: flake8
        run: tox

      - name: Run mypy
        env:
          TOXENV: mypy
        run: tox
        continue-on-error: true

  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master

      - uses: actions/setup-python@v1
        with:
          python-version: '3.10'
          architecture: 'x64'

      - name: Install requirements
        # Устанавливаем зависимости
        run: pip install poetry tox

      - name: Run unit tests
        env:
          TOXENV: tests
        run: tox

      - name: Get coverage report
        env:
          TOXENV: report
        run: tox
