{
  "presets": ["es2015", "react"],
  "env": {
      "production": {
          "plugins": [
              "transform-runtime",
              ["transform-es2015-classes", { "loose": true} ]
          ]
      },
      "development": {
          "plugins": [
              "transform-runtime",
              ["transform-es2015-classes", { "loose": true }],
              ["react-transform", {
                  "transforms": [{
                      "transform": "react-transform-hmr",
                      "imports": ["react"],
                      "locals": ["module"]
                  }]
              }]
          ]
      }
  }
}
